{% extends 'layout.html' %}
{% block title %}
    Registrar Localizacion
{% endblock %}
{% block content %}
    <h1>Localización</h1>
    <form method="post" class="form-with-validation" action="">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <input type="text" value="{{ user }}" id="usuario" name="usuario" disabled class="form-control"/>
                <label class="form-label" for="usuario">Nombre de usuario</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                {{ form.longitud }}
                <label class="form-label" for="longitud">Longitud</label>
                {{ form.latitud }}
                <label class="form-label" for="latitud">Latitud</label>
                {{ form.user_id }}
                <label class="form-label" for="user_id">Usuario</label>
            </div>
            <div class="col" id="div-map">
                {#                {{ map|safe }}#}
            </div>
        </div>
        <br>

        <button class="btn btn-primary form-submint">Guardar</button>
    </form>


    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const boton_localizacion = document.getElementById('get_localizacion')
            if ('geolocation' in navigator) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        let lat = position.coords.latitude
                        let lon = position.coords.longitude
                        let map_html = 'no map'
                        console.log(lat, lon)
                        document.getElementById("latitud").value = lat
                        document.getElementById("longitud").value = lon
                        {#if (lat != '' && lon != '')#}
                        fetch('http://127.0.0.1:8000/localizaciones/mapa/' + lat + '/' + lon + '/').then(r => {
                            r.json().then((jsonr) => {
                                map_html = jsonr
                                const div_map = document.getElementById("div-map");
                                div_map.innerHTML = map_html
                            }).catch((ej) => {
                                console.log(ej)
                            })

                        }).catch((e) => {
                            console.log(e)
                        });
                    },
                    (error) => {
                        console.log(error)
                    },
                    {enableHighAccuracy: false}
                )
            }
        })
    </script>
{% endblock %}