{% extends 'layout.html' %}
{% block title %}
    Equipos
{% endblock %}
{% block content %}
    <h1>Lista de Refacciones</h1>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table id="refacciones" class="table">
                    <thead>
                    <th class="centered">Ticket</th>
                    <th class="centered">Diagnóstico</th>
                    <th class="centered">No. de Parte</th>
                    <th class="centered">Tipo de componente</th>
                    <th class="centered">Cantidad</th>
                    <th class="centered">Fecha de entrega</th>
                    <th class="centered">Modelo</th>
                    </thead>
                    <tbody>
                    {% for refaccion in refacciones %}
                        <tr>
                            <td>{{ refaccion.IdTicket }}</td>
                            <td>{{ refaccion.DiagnosticoSol }}</td>
                            <td>{{ refaccion.NoParteComponente }}</td>
                            <td>{{ refaccion.TipoComponente }}</td>
                            <td>{{ refaccion.Cantidad }}</td>
                            <td>{{ refaccion.FechaEntrega }}</td>
                            <td>{{ refaccion.Modelo }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}