{% extends 'layout.html' %}
{% block title %}
    Tickets
{% endblock %}
{% block content %}
    <div>
        <h1>Lista de Tickets</h1>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="spinner-border" role="status" id="loading-tickets">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="table-responsive" id="div-tickets" style="visibility:hidden">
                    <table id="tickets" class="table table-striped table-bordered">
                        <thead>
                        <th class="centered">Ticket</th>
                        <th class="centered">Título</th>
                        <th class="centered">Fecha</th>
                        <th class="centered">Técnico</th>
                        <th class="centered">Área de atención</th>
                        <th class="centered">Número de serie</th>
                        <th>Acciones</th>
                        </thead>
                        <tbody>
                        {% for ticket in tickets %}
                            <tr>
                                <td>{{ ticket.ticket }}</td>
                                <td>{{ ticket.titulo }}</td>
                                <td>{{ ticket.fecha_creacion }}</td>
                                <td>
                                    <a href="{% url 'detalle_techra_users' nombre_usuario=ticket.tecnico %}">{{ ticket.tecnico }}</a>
                                </td>
                                <td>{{ ticket.area_atencion }}</td>
                                <td>
                                    {% for ns in ticket.serie_as_list %}
                                        <a href="{% url 'detalle_equipo' numero_serie=ns %}">{{ ns }}</a>
                                    {% endfor %}
                                </td>
                                <td><a href="#" title="Ver Notas" class="btn btn-sm btn-info"><i
                                        class="fa-solid fa-note-sticky"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}