{% extends 'layout.html' %}
{% block title %}
    Clientes
{% endblock %}
{% block content %}
    <h1>Notas {{ ticket }}</h1>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="spinner-border" role="status" id="loading-notas">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="table-responsive" id="div-notas" style="visibility:hidden">
                <table id="notas" class="table table-striped table-bordered">
                    <thead>
                    <th class="centered">Ticket</th>
                    <th>Título</th>
                    <th>Comentario</th>
                    <th>Nombre Foto</th>
                    <th>Foto</th>
                    <th>Usuario</th>
                    <th>Fecha y hora</th>
                    <th>ID Estatus</th>
                    <th>Estatus</th>
                    </thead>
                    <tbody>
                    {% for nota in notas %}
                        <tr>
                            <td> {{ nota.IdTicket }}</td>
                            <td> {{ nota.Titulo }}</td>
                            <td> {{ nota.Comentario }}</td>
                            <td> {{ nota.NombreFoto }}</td>
                            <td> {{ nota.Foto }}</td>
                            <td> {{ nota.NombreUsuario }}</td>
                            <td> {{ nota.FechaHora }}</td>
                            <td> {{ nota.IdEstatus }}</td>
                            <td> {{ nota.Estatus }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}