{% extends 'layout.html' %}
{% block title %}
    Tickets: {{ techra_user.nombre }}
{% endblock %}
{% block content %}
    <div>
        <h1>{{ techra_user.nombre }}</h1>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="table-responsive">
                    <table id="usuarios_techra" class="table">
                        <thead>
                        <th class="centered">id</th>
                        <th class="centered">Nombre</th>
                        <th></th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{ techra_user.id_usuario }}</td>
                            <td>{{ techra_user.nombre }}</td>
                            <td>
                                <a id="view_tickets" title="Ver Tickets" class="btn btn-sm btn-secondary"
                                   href="{% url 'ticket_list_by_user' nombre_tecnico=techra_user.nombre %}">
                                    <i class="fa-solid fa-ticket"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}