{% extends 'layout.html' %}
{% block title %}
    Usuarios
{% endblock %}
{% block content %}
    <div>
        <h1>Lista de usuarios (Técnicos)</h1>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="spinner-border" role="status" id="loading-users">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="table-responsive" id="div-usuarios" style="visibility:hidden">
                    <table id="usuarios" class="table table-striped table-bordered">
                        <thead>
                        <th class="centered">Nombre</th>
                        <th class="centered">Número de tickets</th>
                        </thead>
                        <tbody>
                        {% for user in techra_users %}
                            <tr>
                                <td>
                                    <a href="{% url 'detalle_techra_users' nombre_usuario=user.nombre %}">{{ user.nombre }}</a>
                                </td>
                                <td>{{ user.numero_tickets }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}