{% extends 'layout.html' %}
{% block title %}
    Usuarios
{% endblock %}
{% block content %}
    <div>
        <h1>Lista de usuarios (Técnicos)</h1>
        <br>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="spinner-border" role="status" id="loading-users">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="table-responsive" id="div-usuarios" style="visibility:hidden">
                    <table id="usuarios" class="table table-striped table-bordered">
                        <thead>
                        <th class="centered">Nombre</th>
                        <th></th>
                        </thead>
                        <tbody>
                        {% for user in techra_users %}
                            <tr>
                                <td>{{ user.nombre }}</td>
                                <td>
                                    <a id="view_tickets" title="Ver Tickets" class="btn btn-sm btn-secondary"
                                       href="{% url 'ticket_list_by_user' nombre_tecnico=user.nombre %}">
                                        <i class="fa-solid fa-ticket"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}